body
{
    background-color: #fafafa ;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
}

h4
{
    text-shadow: 2px 2px black;
}

.cd-navbar h1
{
    font-size: 1.7rem;
    line-height: 110%;
    margin: 1.14rem 0 .912rem 0;
}

.cd-main-header
{
    text-align: center;
}

.cd-main-header h2
{
    font-size: 1.9rem;
}

.cd-main-content
{
    margin-top : 2%;
}

.cd-search-container
{
    display: none;
}

.cd-map-background
{
    position : fixed;
    display: none;
    z-index: -1;
}

.cd-main-content
{
    z-index: 10 !important;
}