body
{
    background-color: #fafafa ;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    background-attachment: fixed;
}

h4
{
    text-shadow: 2px 2px black;
}

.cd-navbar h1
{
    font-size: 1.7rem;
    line-height: 110%;
    margin: 1.14rem 0 .912rem 0;
}

.cd-main-header
{
    text-align: center;
}

.cd-main-header h2
{
    font-size: 1.9rem;
}

.cd-main-content
{
    margin-top : 2%;
    z-index: 10 !important;
    position: static;
}

.cd-search-container
{
    display: none;
}

.cd-loader
{
    display: none;
    width:100%;
    text-align: center;
    margin-top:100px;
}

.cd-loader em
{
    display:block;
    margin-bottom: 50px;
    font-size: 16px;
}

.cd-photo-attribution
{
    position: fixed;
    bottom : 5px;
    left: 5px;
    color: lightgray;
    display:none;
    color: lightgray;
    text-shadow: 2px 2px black;
}

.cd-photo-attribution a
{
    color:lightgray;
}

#cd-search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
#cd-search-input::-moz-placeholder { /* Firefox 19+ */
  color: black;
}
#cd-search-input:-ms-input-placeholder { /* IE 10+ */
  color: black;
}
#cd-search-input:-moz-placeholder { /* Firefox 18- */
  color: black;
}